@(comps : List[models.Company])
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@content("List") {
 @if(flash().get("success")!=null){
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@Messages(flash().get("success"))</strong>
        </div>
 }
 
 @subjectPresent() {
 	Hi Admin
 }
 
	<a href = "@controllers.routes.Companies.newComp()" type = button class = "btn btn-info"> @Messages("newCompany") </a>
	<div>
		<table class="table table-condensed">
			<thead>
				<th> @Messages("name") </th>
				<th> @Messages("addUser") </th>
				<th> @Messages("delete") </th>
			</thead>
			@for(comp <- comps){
				<tr>
					<td> @comp.name</td>
					<td> <a class="btn btn-success" href="@controllers.routes.CompanyUsers.list(comp.id)"> <span class="glyphicon glyphicon-user"> </span> </a> </td>
					<td> <a class="btn btn-danger" href="@controllers.routes.Companies.delete(comp.id)"><span class="glyphicon glyphicon-remove"> </span> </a> </td> 
				</tr>		
			} 
		</table>
	</div> 
}