@()

<html>
    <header>
        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))' />
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/launcher.ico")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/upload.css")'/>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type="text/javascript" src='@routes.Application.javascriptRoutes'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/upload.js")'></script>
    </header>
    <body>
        <input type="button" id="get_file" value="Upload">
        <input type="file" id="alternative" multiple style="display:none;"/>
        <div id="draganddrophandler">Drag & Drop Files Here</div>
        <br><br>
        <div id="status1"></div>
    </body>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/upload.js")'></script>
</html>